/* Profile Image */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.profile-img-container {
    flex-shrink: 0;
  }
  
  .profile-img {
    width: 250px; /* Adjust the size of the image */
    height: 250px; /* Adjust the size of the image */
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 40%; /* Space between the image and text */
    margin-top: 30%;
  }
  
  /* Adjusting the text-right container */
  .text-right {
    text-align: right;
    margin-left: 40%;
    margin-top: 20%;
  }
  
  /* General Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
 
  